/**
 * https://www.w3schools.com/howto/howto_css_devices.asp
 */
@use 'sass:math';

@function ratio($orignial){
    @return math.div($orignial, 360px);
}

$base-dimension: 360px;

$content-width: $base-dimension;// * ratio(360px); //360px
$content-height: $base-dimension * ratio(640px); //640px

$border-x-size: $base-dimension * ratio(16px); //16px;
$border-y-size: $base-dimension * ratio(60px); //60px;
$border-radius: $base-dimension * ratio(36px); //36px;

$spreak-width: $base-dimension * ratio(60px); //60px;
$spreak-height: $base-dimension * ratio(5px); //5px;

$button-radius: $base-dimension * ratio(35px); //35px;
$button-position: $base-dimension * ratio(-65px); //-65px;

.smartphone {
    /* The device with borders */
    position: relative;
    width: $content-width;
    height: $content-height;
    margin: auto;
    border: $border-x-size solid black; //16px black solid;
    border-top-width: $border-y-size; //60px;
    border-bottom-width: $border-y-size; //60px;
    border-radius: $border-radius; //36px;
    box-sizing: content-box;

    /* The horizontal line on the top of the device */
    &:before {
        content: '';
        display: block;
        width: $spreak-width; //60px;
        height: $spreak-height; //5px;
        position: absolute;
        top: -1 * math.div($border-y-size, 2); //-30px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: $spreak-height * 2; //10px;
    }

    /* The circle on the bottom of the device */
    &:after {
        content: '';
        display: block;
        width: $button-radius; //35px;
        height: $button-radius; //35px;
        position: absolute;
        left: 50%;
        bottom: $button-position; //-65px;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 50%;
    }

    /* The screen (or content) of the device */
    & > * {
        width: 100%;
        height: 100%;
        //background: var(--bs-light);
    }
}
