@import "Base.module";

.headshot {
    &.headshot-small {
        width: calc( 50vw - 2rem - var(--bs-gutter-x) );
        float: right;
        margin: 0 1rem 1rem 1rem;
    }

    img {
        width: 100%;
    }
}
