@import "SmartPhoneFrame.module";
@import "LaptopFrame.module";

.landing-page {
    background-image: url(/images/gray-grid.png);
    background-color: var(--bs-light);
    background-repeat: round;
}
