.pln {
    color: var(--bs-light);
}
.atv,
.str {
    color: var(--bs-teal-400);
}
.kwd {
    color: var(--bs-pink-350);
}
.com {
    color: var(--bs-primary);
}
.typ {
    color: var(--bs-green-400);
}
.lit {
    color: var(--bs-indigo-300);
}
.clo,
.opn,
.pun {
    color: var(--bs-yellow-250);
}
.tag {
    color: var(--bs-blue-400);
}
.atn {
    color: var(--bs-purple-350);
}
.dec,
.var {
    color: var(--bs-orange-350);
}
.fun {
    color: red;
}

pre.prettyprint {
    padding: 2px;
}
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}
