.pln {
    color: var(--bs-light);
}
@media screen {
    .str {
        color: var(--bs-teal-400);
    }
    .kwd {
        color: var(--bs-pink-350);
    }
    .com {
        color: var(--bs-primary);
    }
    .typ {
        color: var(--bs-green-400);
    }
    .lit {
        color: #20c997;
    }
    .clo,
    .opn,
    .pun {
        color: var(--bs-yellow-250);
    }
    .tag {
        color: var(--bs-cyan-400);
    }
    .atn {
        color: #a370f7;
    }
    .atv {
        color: #080;
    }
    .dec,
    .var {
        color: var(--bs-orange-350);
    }
    .fun {
        color: red;
    }
}
@media print, projection {
    .kwd,
    .tag,
    .typ {
        font-weight: 700;
    }
    .str {
        color: #060;
    }
    .kwd {
        color: #006;
    }
    .com {
        color: #600;
        font-style: italic;
    }
    .typ {
        color: #404;
    }
    .lit {
        color: #044;
    }
    .clo,
    .opn,
    .pun {
        color: #440;
    }
    .tag {
        color: #006;
    }
    .atn {
        color: #404;
    }
    .atv {
        color: #060;
    }
}
pre.prettyprint {
    padding: 2px;
}
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}
